@import "base.scss";
@import "reset.scss";
@import "device_size.scss";

$vpw:1920;
$vph:1080;

body{
  background-color: #ecf0f1;
  overflow-x: hidden;

  .menubtn{ display: none; }

  *{
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  }
}

.wrapper{
  @include alt;
  z-index: 0;
}

//desktop
$vpw:380;
$vph:700;
@media screen and (max-width: $defaultSize) {
  body{
    .menubtn{ 
      @include fltvw(49,49);
      z-index: 99;
      cursor: pointer;
      display: block;
      transition: 0.3s;
      
      &.on{
        left: 60px;

        span{
          &.top{ top:getVW(20); transform: rotateZ(45deg); }
          &.middle{ opacity: 0; }
          &.bottom{ top:getVW(20); transform: rotateZ(-45deg); }
        }
      }
    
      span{
        @include altvw(36,4,6,20);
        background-color: #fff;
        transition: 0.3s;
        
        &.top{ top:getVW(12); }
        &.middle{ top:getVW(20); }
        &.bottom{ top:getVW(28); }
      }
      display: block; 
    }
  }

  .wrapper{
    @include r;
    z-index: 0;
    transition: 0.3s;

    &.open{ left: 60px; }
    &.off{ @include flt; }
  }
}

//mobile
$vpw:1334;
$vph:750;
@media screen and (max-width: 1334px) {

}

//mobile
@media screen and (max-width: 1136px) {
  
}

$vpw:1024;
$vph:768;
//tablet
@media screen and (max-width: 1024px) {

}

@media print {
  body{
    display: none;
  }
}